body {
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('https://images.unsplash.com/photo-1599690925058-90e1a0b56154?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80');
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 25px;
}

input:hover {
  background-color: #dcdcdc;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 25px;
  background: #ffffff;
}

button:hover {
  background-color: #f0e68c;
}

h2 {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 25px 11px 10px -10px rgba(0, 0, 0, 0.61);
  border-radius: 25px;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

h2#valorBitcoin {
  background-color: rgba(240, 230, 140, 0.8);
  box-shadow: 25px 11px 10px -10px rgba(0, 0, 0, 0.61);
  border-radius: 25px;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}
